/* ===== Breakpoint xl (>= 1200px) ===== */
@media (min-width: 1200px) {
  /* ===== Reset simples ===== */

  /* ===== Utilitários ===== */

  /* ===== Header / Hero ===== */
  .hero-content {
    gap: 56px;
  }

     .hero-text h1 {
        font-size: 2.9rem;
        line-height: 3.4rem;
    }

  .logo-image {
    width: 400px;
    height: 220px;
  }

  h1 {
    font-size: 2.4rem;
  }

  .hero-subtitle {
    font-size: 1.1rem;
  }

  .hero-note {
    font-size: 1rem;
  }

  /* ===== Formulário ===== */
  .hero-form h2 {
    font-size: 1.4rem;
  }

 

  

  /* ===== Botões ===== */
  .btn {
    padding: 20px;
    font-size: 26px;
  }

  /* ===== Hero secundário ===== */

  /* ===== Vídeo ===== */

  /* ===== Métricas ===== */

  /* ===== Produtividade ===== */

  /* ===== Soluções ===== */
 .solution-card-image {
  width: 170px;

}
  /* ===== Certificações ===== */

  /* ===== Confiança ===== */

  /* ===== Footer ===== */

  .site-footer {
  
    

  }

 .footer-columns {
  
    padding: 0 15%;

  }
}
