/* ===== Breakpoint xxl (>= 1400px) ===== */
@media (min-width: 1400px) {
  /* ===== Reset simples ===== */

  /* ===== Utilitários ===== */

  /* ===== Botões ===== */

  /* ===== Header / Hero ===== */

  /* ===== Formulário ===== */

  /* ===== Hero secundário ===== */

  /* ===== Vídeo ===== */

  /* ===== Métricas ===== */

  /* ===== Produtividade ===== */

  /* ===== Soluções ===== */

  /* ===== Certificações ===== */

  /* ===== Confiança ===== */

  /* ===== Footer ===== */
    .site-footer {
     padding: 5% 20% 0 20%; 
  } 
}
